html,body {
    height: 100%;
    background-color: #e5e5e5;
}

.container {
    width: auto;
}

.container .credit {
    margin: 20px 0;
}

#loginHolder {
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    z-index: 1031;
}

#loginc {
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 0px auto;
    padding: 15px;
}

#loginErr {
    display: none;
}

#mainWindow {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.eventItem {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fff;
}

.eventVolumes {
    color: #aaa;
    float: left;
}

.eventVolumes div {
    display: inline-block;
    margin-right: 4px;
    margin-top: 4px;
}

.eventVolumes a:link, .eventVolumes a:active, .eventVolumes a:visited {
    color: green;
    font-size: 1.4em;
}

.eventVolumes a:hover {
    color: red;
}

.eventAddVolume {
    color: #aaa;
    float: right;
}

.eventCreatedBig {
    float: left;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 4px;
    background-color: #ff8080;
}

.eventCreatedBigMonth {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.eventCreatedBigYear {
    width: 100%;
    text-align: center;
}

.eventTitle {
    float: left;
}

.eventTitleName {
    font-size: 1.8em;
    text-decoration: underline;
}

.eventTitleAccess {
    font-size: .8em;
    margin-top: 4px;
}

.eventTitleAccess span {
    color: #888;
}

.eventEdit {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #383838;
    margin-bottom: 10px;
    clear: both;
    display: none;
}

.eventText {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #383838;
    margin-bottom: 10px;
    clear: both;
    max-height: 500px;
    height:auto !important;
    height: 500px;
    overflow: auto;
}

.eventFiles {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.eventTimes {
    float: right;
    text-align: right;
    color: #888;
}

.fileIcon {
    display: inline-block;
    margin: 10px;
    height: 130px;
    width: 100px;
    overflow: hidden;
    text-align: center;
}

.fileInBin {
    display: inline-block;
    margin: 10px;
    height: 100px;
    width: 500px;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    padding: 4px;
    vertical-align: middle;
}
